In [169]:
import pandas as pd
df = pd.read_csv('C:/Users/tt/Desktop/semipro/bussubedu1.csv', encoding='utf-8')

In [170]:
from datetime import datetime
from datetime import date

In [171]:
rate = pd.read_csv('C:/Users/tt/Desktop/semipro/한국기준금리.csv', encoding='cp949', header=1637)

In [172]:
df.head()

,주소,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),층,건축년도,도로명,latitude,...,sub_dist,1호선,2호선,3호선,4호선,5호선,6호선,7호선,8호선,9호선
0,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201501,13,"40,000",5,1988.0,언주로 103,37.481215,...,0.84,0,0,1,0,0,0,0,0,0
1,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201503,2,"50,000",2,1988.0,언주로 103,37.481215,...,0.84,0,0,1,0,0,0,0,0,0
2,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201505,23,"50,000",6,1988.0,언주로 103,37.481215,...,0.84,0,0,1,0,0,0,0,0,0
3,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201506,8,"49,000",3,1988.0,언주로 103,37.481215,...,0.84,0,0,1,0,0,0,0,0,0
4,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201507,22,"50,000",9,1988.0,언주로 103,37.481215,...,0.84,0,0,1,0,0,0,0,0,0

In [173]:
rate.columns = ['date', 'rate']

In [275]:
rate.tail()

           date  rate
2676 2022-04-30   1.5
2677 2022-05-01   1.5
2678 2022-05-02   1.5
2679 2022-05-03   1.5
2680 2022-05-04   1.5

In [262]:
for i in range(7):
    print(rate.loc[(i+1)*365, 'date'])

2016-01-01 00:00:00
2016-12-31 00:00:00
2017-12-31 00:00:00
2018-12-31 00:00:00
2019-12-31 00:00:00
2020-12-30 00:00:00
2021-12-30 00:00:00

In [175]:
rate['date'] = [str(dates) for dates in rate['date']]
rate['date'] = [datetime.strptime(dates, '%Y-%m-%d') for dates in rate['date']]

In [176]:
df['date'] = [str(a)[0:4]+'-'+str(a)[4:]+'-'+str(b) if b >= 10 else str(a)[0:4]+'-'+str(a)[4:]+'-'+'0'+str(b) for a,b in zip(df['계약년월'], df['계약일'])]

In [177]:
df['date'] = [datetime.strptime(dates, "%Y-%m-%d") for dates in df['date']]

In [205]:
df['date'].sort_values(axis=0, ascending=True)

KeyError: 'date'

In [209]:
df = df.reset_index()

TypeError: reset_index() got an unexpected keyword argument 'index'

In [210]:
del df['index']

In [253]:
df.loc[20000,'date']

Timestamp('2015-03-24 00:00:00')

In [179]:
from tqdm import tqdm

In [226]:
df.loc[400000,'date']

Timestamp('2020-06-08 00:00:00')

In [276]:
rate_test = []
 
for d in tqdm(range(15000,20000)):
    cnt = 0
    if datetime.strptime('2015-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
        for ds in rate.loc[0:400,'date']:
                if datetime.strptime('2015-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365
    if datetime.strptime('2016-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2016-01-01', '%Y-%m-%d'):
        for ds in rate.loc[300:800,'date']:
                if datetime.strptime('2016-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2016-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365*2                    
    if datetime.strptime('2017-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2017-01-01', '%Y-%m-%d'):
        for ds in rate.loc[600:1100,'date']:
                if datetime.strptime('2017-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2017-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
                        
    cnt = 365*3
    if datetime.strptime('2018-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2018-01-01', '%Y-%m-%d'):
        for ds in rate.loc[900:1500,'date']:
                if datetime.strptime('2018-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2018-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365*4
    if datetime.strptime('2019-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2019-01-01', '%Y-%m-%d'):
        for ds in rate.loc[1300:1900,'date']:
                if datetime.strptime('2019-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2019-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] ==ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
                        
    cnt= 365*5
    if datetime.strptime('2020-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2020-01-01', '%Y-%m-%d'):
        for ds in rate.loc[1800:2300,'date']:
                if datetime.strptime('2020-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt=365*6
    if datetime.strptime('2021-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2021-01-01', '%Y-%m-%d'):
        for ds in rate.loc[2100:2700,'date']:
                if datetime.strptime('2021-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2021-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt=365*7
    if datetime.strptime('2022-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2022-01-01', '%Y-%m-%d'):
        for ds in rate.loc[2500:2580,'date']:
                if datetime.strptime('2022-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2022-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] ==ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])

100%|██████████████████████████████████████████████████████████████████████████████| 5000/5000 [01:37<00:00, 51.39it/s]

In [281]:
print(len(rate_test))
print(rate_test[0:10])
print(rate_test[-10:-1])

508611
[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0]
[1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25, 1.25]

In [233]:
datetime.strptime('2015-12-31','%Y-%m-%d') > df.loc[75000,'date'] > datetime.strptime('2015-01-01', '%Y-%m-%d')

False

In [222]:
df.loc[0,'date']
df.loc[521182,'date']

Timestamp('2022-04-30 00:00:00')

In [279]:
rate_test = []
 
for d in tqdm(df.index):
    cnt = 0
    if datetime.strptime('2015-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
        for ds in rate.loc[0:400,'date']:
                if datetime.strptime('2015-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365
    if datetime.strptime('2016-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2016-01-01', '%Y-%m-%d'):
        for ds in rate.loc[300:800,'date']:
                if datetime.strptime('2016-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2016-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365*2                    
    if datetime.strptime('2017-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2017-01-01', '%Y-%m-%d'):
        for ds in rate.loc[600:1100,'date']:
                if datetime.strptime('2017-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2017-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
                        
    cnt = 365*3
    if datetime.strptime('2018-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2018-01-01', '%Y-%m-%d'):
        for ds in rate.loc[900:1500,'date']:
                if datetime.strptime('2018-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2018-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt = 365*4
    if datetime.strptime('2019-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2019-01-01', '%Y-%m-%d'):
        for ds in rate.loc[1300:1900,'date']:
                if datetime.strptime('2019-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2019-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] ==ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
                        
    cnt= 365*5
    if datetime.strptime('2020-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2020-01-01', '%Y-%m-%d'):
        for ds in rate.loc[1800:2300,'date']:
                if datetime.strptime('2020-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2015-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt=365*6
    if datetime.strptime('2021-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2021-01-01', '%Y-%m-%d'):
        for ds in rate.loc[2100:2700,'date']:
                if datetime.strptime('2021-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2021-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] == ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])
    cnt=365*7
    if datetime.strptime('2022-12-31', '%Y-%m-%d') >= df.loc[d,'date'] >= datetime.strptime('2022-01-01', '%Y-%m-%d'):
        for ds in rate.loc[2500:2580,'date']:
                if datetime.strptime('2022-12-31', '%Y-%m-%d') >= ds >= datetime.strptime('2022-01-01', '%Y-%m-%d'):
                    if df.loc[d,'date'] ==ds:
                        rate_test.append(rate[rate['date']==ds]['rate'].values[0])

100%|████████████████████████████████████████████████████████████████████████| 521282/521282 [3:06:45<00:00, 46.52it/s]

In [280]:
len(rate_test)

508611

1.25

In [215]:
df_rate=pd.DataFrame(rate_test)

In [216]:
df_rate.to_csv('./rate.csv', index=False, encoding='utf-8')

In [288]:
df[df['date']==datetime.strptime('2022-01-01', '%Y-%m-%d')].index

Int64Index([505595, 505596, 505597, 505598, 505599, 505600, 505601, 505602,
            505603, 505604, 505605, 505606, 505607, 505608, 505609, 505610,
            505611, 505612, 505613, 505614, 505615, 505616],
           dtype='int64')

In [290]:
df.to_csv('./date.csv', index=False, encoding='utf-8')

In [307]:
a = pd.read_csv('./rate.csv', encoding='utf-8')
a.head()

         date  rate
0  2015-01-01   2.0
1  2015-01-01   2.0
2  2015-01-01   2.0
3  2015-01-01   2.0
4  2015-01-01   2.0

In [295]:
pd.read_csv('./실거래가_데이터.csv', encoding='utf-8')

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지,동_단지
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201501,11,"60,000",5,1988,언주로 103,NaN,-,-,개포동 개포2차현대아파트(220)
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,3,"65,000",5,1988,언주로 103,NaN,-,-,개포동 개포2차현대아파트(220)
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201503,7,"62,500",2,1988,언주로 103,NaN,-,-,개포동 개포2차현대아파트(220)
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,201508,16,"68,000",6,1988,언주로 103,NaN,-,-,개포동 개포2차현대아파트(220)
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,79.97,201501,29,"73,000",5,1987,언주로 3,NaN,-,-,개포동 개포6차우성아파트1동~8동
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624148,서울특별시 중랑구 중화동,453,453.0,0.0,청광플러스원,84.96,202201,11,"85,500",11,2007,동일로136길 15,NaN,중개거래,서울 중랑구,중화동 청광플러스원
624149,서울특별시 중랑구 중화동,286-22,286.0,22.0,청원다미소,84.80,202204,7,"76,000",5,2004,동일로136길 10,NaN,중개거래,서울 중랑구,중화동 청원다미소
624150,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202203,27,"73,000",20,1997,동일로 752,NaN,중개거래,서울 중랑구,중화동 한신아파트(103~109)
624151,서울특별시 중랑구 중화동,274-51,274.0,51.0,한영(101),84.69,202204,9,"49,900",7,2003,동일로144길 74,NaN,중개거래,서울 중랑구,중화동 한영(101)
624152,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),76.43,202204,23,"53,000",6,2007,봉화산로27가길 19,NaN,중개거래,서울 중랑구,중화동 현대휴앤미(102동)

In [296]:
df = pd.read_csv('C:/Users/tt/Desktop/semipro/0510최종합본.csv', encoding='utf-8')
df.head()

,Unnamed: 0,주소,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),층,건축년도,도로명,...,폭력 검거율,총인구(십만명),인구 십만명당 살인발생,인구 십만명당 강도발생,"인구 십만명당 강간,추행발생",인구 십만명당 절도발생,인구 십만명당 폭력발생,park,han_park,center_weight
0,0,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201501,13,"40,000",5,1988,언주로 103,...,0.86,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307
1,1,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201503,2,"50,000",2,1988,언주로 103,...,0.86,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307
2,2,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201505,23,"50,000",6,1988,언주로 103,...,0.86,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307
3,3,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201506,8,"49,000",3,1988,언주로 103,...,0.86,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307
4,4,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201507,22,"50,000",9,1988,언주로 103,...,0.86,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307

In [297]:
del df['Unnamed: 0']

In [298]:
df['date'] = [str(a)[0:4]+'-'+str(a)[4:]+'-'+str(b) if b >= 10 else str(a)[0:4]+'-'+str(a)[4:]+'-'+'0'+str(b) for a,b in zip(df['계약년월'], df['계약일'])]

In [299]:
df['date'] = [datetime.strptime(dates, "%Y-%m-%d") for dates in df['date']]

In [301]:
df['date'] = df['date'].sort_values(axis=0, ascending=True)

In [304]:
df

,주소,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),층,건축년도,도로명,latitude,...,총인구(십만명),인구 십만명당 살인발생,인구 십만명당 강도발생,"인구 십만명당 강간,추행발생",인구 십만명당 절도발생,인구 십만명당 폭력발생,park,han_park,center_weight,date
0,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201501,13,"40,000",5,1988,언주로 103,37.481215,...,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-01-13
1,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201503,2,"50,000",2,1988,언주로 103,37.481215,...,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-03-02
2,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201505,23,"50,000",6,1988,언주로 103,37.481215,...,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-05-23
3,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201506,8,"49,000",3,1988,언주로 103,37.481215,...,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-06-08
4,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201507,22,"50,000",9,1988,언주로 103,37.481215,...,51.0,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-07-22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521277,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202108,2,"33,500",10,2021,서오릉로 80-1,37.607516,...,46.0,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-08-02
521278,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202108,20,"33,500",8,2021,서오릉로 80-1,37.607516,...,46.0,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-08-20
521279,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202109,18,"33,500",8,2021,서오릉로 80-1,37.607516,...,46.0,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-09-18
521280,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202110,29,"33,500",8,2021,서오릉로 80-1,37.607516,...,46.0,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-10-29
521281,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202201,2,"33,200",5,2021,서오릉로 80-1,37.607516,...,46.0,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2022-01-02

In [313]:
df['rate'] = a['rate']

In [315]:
df.to_csv('./0510.csv', encoding='utf-8',index=False)

In [316]:
df.head()

,주소,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),층,건축년도,도로명,latitude,...,인구 십만명당 살인발생,인구 십만명당 강도발생,"인구 십만명당 강간,추행발생",인구 십만명당 절도발생,인구 십만명당 폭력발생,park,han_park,center_weight,date,rate
0,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201501,13,"40,000",5,1988,언주로 103,37.481215,...,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-01-13,2.0
1,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201503,2,"50,000",2,1988,언주로 103,37.481215,...,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-03-02,2.0
2,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201505,23,"50,000",6,1988,언주로 103,37.481215,...,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-05-23,2.0
3,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201506,8,"49,000",3,1988,언주로 103,37.481215,...,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-06-08,2.0
4,서울특별시 강남구 개포동 655-2,개포2차현대아파트(220),77.75,201507,22,"50,000",9,1988,언주로 103,37.481215,...,0.150392,0.369216,11.588235,63.699412,76.673137,0,0,10.658307,2015-07-22,2.0

In [317]:
df.tail()

,주소,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),층,건축년도,도로명,latitude,...,인구 십만명당 살인발생,인구 십만명당 강도발생,"인구 십만명당 강간,추행발생",인구 십만명당 절도발생,인구 십만명당 폭력발생,park,han_park,center_weight,date,rate
521277,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202108,2,"33,500",10,2021,서오릉로 80-1,37.607516,...,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-08-02,1.5
521278,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202108,20,"33,500",8,2021,서오릉로 80-1,37.607516,...,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-08-20,1.5
521279,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202109,18,"33,500",8,2021,서오릉로 80-1,37.607516,...,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-09-18,1.5
521280,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202110,29,"33,500",8,2021,서오릉로 80-1,37.607516,...,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2021-10-29,1.5
521281,서울특별시 은평구 대조동 179-16,북한산포레스트,29.02,202201,2,"33,200",5,2021,서오릉로 80-1,37.607516,...,0.108696,0.101522,4.003696,33.264565,49.438478,0,0,7.361963,2022-01-02,1.5