In [1]:
import re
import pandas as pd

In [11]:
df=pd.read_csv("./data/서울시 주요 공원현황.csv", encoding='cp949')
df.dropna(subset='면적', inplace=True)
df=df[['면적', 'X좌표(WGS84)', 'Y좌표(WGS84)']]
df_result=df.drop([6])
df_result['면적']=df_result['면적'].apply(lambda x : x.split("㎡")[0])
df_result['면적']=df_result['면적'].apply(lambda x : re.sub("[^0-9]", "", x))
df_result=df_result.astype({"면적" : float})
df_result.columns=["면적", '경도', '위도']
df_result

            면적          경도         위도
0    2896887.0  126.990377  37.550140
1      80683.0  127.154779  37.540394
2    9132690.0  127.019846  37.426449
3     480994.0  127.041798  37.543072
4    2284085.0  126.878907  37.571805
..         ...         ...        ...
126   631021.0  127.098782  37.587716
127   109635.0  127.095997  37.579762
128   140022.0  126.893246  37.571718
129   211392.0  127.076482  37.627077
130   157535.0  127.115594  37.472332

[128 rows x 3 columns]

In [12]:
df_result.to_csv("./data/서울시 주요 공원현황_전처리.csv", encoding='cp949')